{% extends 'base_layout.html' %}

{% block content %}
<h2>Őrsöm</h2>
<div class="groups">
    <h3>{{patrol.name}} őrs</h3>
    <ul>
        {% for m in members %}
            <li>{{m.nickname}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'ors:editpatrol' %}"><button>Őrs adatainak szerkesztése</button></a>
    <a href="{% url 'ors:editpatrolmembers' %}"><button>Őrstagok szerkesztése</button></a>
</div>
<div class="groups">
    <h3>Őrsi kihívások</h3>
    <form action="{% url 'ors:mypatrol'%}" class="site-form" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form_challenges.management_form}}
        <div class="edit-challenge-div">
            <div class="left-col">
                <ul>
                    {% for ch in challenges %}
                    <li>{{ch}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right-col">
                
                <ul>
                    {% for form in form_challenges %}
                    <div class="hidden">{{form.challenge}}</div>
                    <div>{{form.DELETE}} törlés</div>
                    {% endfor %}
                </ul>
            </div>
            {% if error %}
            <p>{{error}}</p>
            {% endif %}
        </div>
        <button type="submit" value="mypatrol">Mentés</button>
    </form>
</div>
{% endblock %}