{% extends 'base_layout.html' %}

{% block content %}
<h2>Kihívások listája</h2>
<div class="challenges">
    {% for ch in challenge %}
        {% if forloop.counter0|divisibleby:'3' %}
            <div class="row">
        {% endif %}
        <div class="ch-card">
            <div class="logo"><img src="{{ch.thumb.url}}" alt="thumbnail-img"></div>
            <div class="details">
                <h4 class="ch-title"><a href="{{ch.get_absolute_url}}">{{ch.name}}</a></h4>
                <p class="ch-desc">{{ch.snippet}}</p>
                <div class="ch-tags">
                    {% for t in ch.tags.all %}
                    <form action="{% url 'challenge:tagsearch'%}" method="post" class="tagform">
                        {% csrf_token %}
                        <input type="hidden" name="search_text" value="{{t}}">
                        <button type="submit" class="tagbutton"><span class="ch-tag">#{{t}}</span></button>
                    </form>
                    {% endfor %}
                </div>
                <p class="ch-author">Kihívást létrehozta: <em>{{ch.creator}}</em></p>
            </div>
            {% if user.is_authenticated %}
            <div class="addToList">
                <form action="{% url 'challenge:list'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='hidden' name='{{form.challenge.name}}' value="{{ch.pk}}">
                    <input type='hidden' name='{{form.patrol.name}}' value="{{form.patrol.value}}">
                    <button type="submit" class="addChallenge">Hozzáadom az őrsi listámhoz</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% if forloop.counter > 3 and forloop.counter|divisibleby:'3' %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}