{% extends 'base_layout.html' %}

{% block content %}
    <section class="news">
        <h2>Híreink</h2>
        {% for news in actual_news %}
            <div class="news-post">
                <h3>{{news.header}}</h3>
                <p class="news-text">
                    {{news.body}}
                </p>
                {% if news.img %}
                    <div class="news-img"><img src="{{news.img.url}}" alt="news-img"></div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
    <section class="latest-challenges">
        <h2>Legutóbbi kihívások</h2>
        {% for ch in latest_challenges %}
        {% if forloop.counter0|divisibleby:'5' %}
        <div class="row">
            {% endif %}
            <div class="ch-card">
                <div class="logo"><img src="{{ch.thumb.url}}" alt="thumbnail-img"></div>
                <div class="details">
                    <h4 class="ch-title">{{ch.name}}</h4>
                    <p class="ch-desc">{{ch.snippet}}</p>
                    <p class="ch-tags">
                        {% for t in ch.tags.all %}
                        <span class="ch-tag">#{{t}}</span>
                        {% endfor %}
                    </p>
                    <p class="ch-author">Kihívást létrehozta: <em>{{ch.created_by}}</em></p>
                </div>
                {% if user.is_authenticated %}
                <div class="addToList">
                    <form action="{% url 'home'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type='hidden' name='{{form.challenge.name}}' value="{{ch.pk}}">
                        <input type='hidden' name='{{form.patrol.name}}' value="{{form.patrol.value}}">
                        <button type="submit" class="addChallenge">Hozzáadom az őrsi listámhoz</button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% if forloop.counter > 3 and forloop.counter|divisibleby:'5' %}
        </div>
        {% endif %}
        {% endfor %}
    </section>
    <section class="top-challenges">
        <h2>Legnépszerűbb kihívásaink</h2>
        <!-- count challenge entities in patrolchallenge top 5-->
    </section>
{% endblock %}