html, body{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #0f121f;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 1rem;
    padding-top: 1rem;
    overflow: auto;
}

body *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.row:after, .row:before{
    display: table;
    content: "";
}
.row:after{
    clear: both;
}

#page-logo{
    height: 50px;
}

nav{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(-10px,0px);
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: .3rem;
    cursor: pointer;
}

.logout{
    background-color: transparent;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    cursor: pointer;
}

.groups{
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 2rem 1rem;
}

.challenges{
    display: flex;
    flex-direction: column;
}

.challenges .row{
    justify-content: center;
}

.ch-card{
    background-color: white;
    color: black;
    padding: .5rem;
    margin: 2rem;
    width: 300px;
    border-radius: 5px;
}

.ch-card:hover{
    box-shadow: 4px 4px 20px rgba(200,200,200,.3);
    transition: .3s;
    cursor: pointer;
}

.ch-card .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ch-card .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ch-card .logo img:hover{
    background-color: tomato;
    cursor: pointer;
}

.ch-card .details .ch-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.ch-card .logo img{
    width: 5rem;
    height: 5rem;
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.ch-tags{
    text-align: center;
}

.ch-card .ch-tag{
    background-color: rgb(146, 146, 146);
    color: white;
    padding: .5rem;
    line-height: 3rem;
}

.ch-card .ch-tag:not(:last-child){
    margin-right: .5rem;
}

.details{
    position: relative;
}

.ch-author{
    bottom: 0;
}

section.news, section.latest-challenges, section.top-challenges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2{
    margin: 2rem 0;
    font-size: 2rem;
}

.news-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: white;
    color: black !important;
    margin: 1rem 0;
}