html, body{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #0f121f;
    background-image: url(stars.png);
    background-repeat: no-repeat;
    padding-left: 1rem;
    padding-top: 1rem;
}

body *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

nav{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(-10px,0px);
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: .3rem;
    cursor: pointer;
}

.logout{
    background-color: transparent;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    cursor: pointer;
}