{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Articles</title>
</head>

<body>
    <div class="wrapper">
        <h1><a href="{% url 'home'%}"><img src="{% static 'logo.png' %}" alt="logo" id="page-logo"></a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'accounts:logout' %}" class="logout-link" method="POST">
                        {% csrf_token %}
                        <button class="logout" type="submit">Kijelentkezés</button>
                    </form>
                </li>
                <li><a href="{% url 'search'%}">Keresés</a></li>
                <li><a href="{%url 'ors:mypatrol'%}">Őrsöm</a></li>
                <li><a href="{% url 'status'%}">Őrsöm gyűjteménye</a></li>
                <li><a href="{%url 'challenge:create'%}">Új Kihívás!</a></li>
                <li><a href="{%url 'challenge:mylist'%}">Saját kihívásaim</a></li>
                {% else %}
                <li><a href="{% url 'search'%}">Keresés</a></li>
                <li><a href="{% url 'status'%}">Őrsöm gyűjteménye</a></li>
                <li><a href="{% url 'accounts:login'%}">Bejelentkezem</a></li>
                <li><a href="{% url 'accounts:signup'%}">Regisztrálok</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>