<!-- Off-Canvas Menu-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu"><span
            class="offcanvas-close"><i class="fe-icon-x"></i></span>
        <div class="px-4 pb-4">
            <h6>Menü</h6>
            <div class="d-flex justify-content-between pt-2">
                <a class="btn btn-dark btn-sm btn-style-6 btn-block" href="https://ecset.cserkesz.hu/"><i
                        class="fe-icon-user"></i>&nbsp;Bejelentkezem</a>
            </div>
        </div>
        <div class="offcanvas-scrollable-area border-top" style="height:calc(100%); top: 144px;">
            <!-- Mobil Menü-->
            <div class="accordion mobile-menu" id="accordion-menu">
                <!-- Menüpontok-->
                <div class="card">
                    <div class="card-header"><a class="mobile-menu-link" id="mob-menu-link0" href="index.html">Kezdőlap</a></div>
                </div>
                <div class="card">
                    <div class="card-header"><a class="mobile-menu-link" id="mob-menu-link1" href="#">Magunkról</a><a class="collapsed"
                            href="#modulok-submenu0" data-toggle="collapse"></a></div>
                    <div class="collapse" id="modulok-submenu0" data-parent="#accordion-menu">
                        <div class="card-body">
                            <ul>
                                <li class="dropdown-item menu-dropdown-item"><a
                                        href="cserkeszmodszer.html">Cserkészmódszer</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="mozgalom.html">Mozgalom</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="partnereink.html">Partnereink</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="toolbox.html">Toolbox</a></li>
                                <!-- <li class="dropdown-item menu-dropdown-item" id="cssToggle"><a href="#">Stílus váltás</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><a class="mobile-menu-link" id="mob-menu-link2" href="#">Szövetség</a><a class="collapsed"
                            href="#modulok-submenu1" data-toggle="collapse"></a></div>
                    <div class="collapse" id="modulok-submenu1" data-parent="#accordion-menu">
                        <div class="card-body">
                            <ul>
                                <li class="dropdown-item menu-dropdown-item"><a href="bemutatkozas.html">Bemutatkozás</a>
                                </li>
                                <li class="dropdown-item menu-dropdown-item"><a href="dokumentumok.html">Dokumentumok</a>
                                </li>
                                <li class="dropdown-item menu-dropdown-item"><a href="elerhetoseg.html">Elérhetőség</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a target="_blank" href="https://gyermekvedelem.cserkesz.hu/">Gyermekvédelem</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="kulugy.html">Külügy</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="lelki-kozossegek.html">Lelki Közösségek</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="projektjeink.html">Projektjeink</a>
                                </li>
                                <li class="dropdown-item menu-dropdown-item"><a href="szakagak.html">Szakágak</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="testuletek.html">Testületek</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="tortenelem.html">Történelem</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><a class="mobile-menu-link" id="mob-menu-link3" href="#">Felfedezés</a><a class="collapsed"
                            href="#modulok-submenu2" data-toggle="collapse"></a></div>
                    <div class="collapse" id="modulok-submenu2" data-parent="#accordion-menu">
                        <div class="card-body">
                            <ul>
                                <!-- <li class="dropdown-item menu-dropdown-item"><a href="csapatok.html">Csapatok</a></li> -->
                                <li class="dropdown-item menu-dropdown-item"><a href="cserkesz-helyek.html">Cserkész
                                        helyek</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="esemenyek.html">Események</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="hirek.html">Hírek</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="kiadvanyok.html">Kiadványok</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="magazin.html">Magazin</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a href="wiki.html">Wiki</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><a class="mobile-menu-link" id="mob-menu-link4" href="#">Kapcsolat</a><a class="collapsed"
                            href="#modulok-submenu3" data-toggle="collapse"></a></div>
                    <div class="collapse" id="modulok-submenu3" data-parent="#accordion-menu">
                        <div class="card-body">
                            <ul>
                                <li class="dropdown-item menu-dropdown-item"><a href="csapatok.html">Csapatok</a></li>
                                <li class="dropdown-item menu-dropdown-item"><a
                                        href="testuletek.html">Cserkészkerületek</a></li>
                                <!-- <li class="dropdown-item menu-dropdown-item"><a
                                        href="cserkeszkeruletek.html">Cserkészkerületek</a></li> -->
                                <li class="dropdown-item menu-dropdown-item"><a href="kulhoni-magyarok.html">Külhoni
                                        magyarok</a></li>
                                <!-- <li class="dropdown-item menu-dropdown-item"><a href="orszagos-iroda.html">Országos
                                        Iroda</a></li> -->
                                <li class="dropdown-item menu-dropdown-item"><a href="elerhetoseg.html">Országos
                                        Iroda</a></li>
                                <!-- <li class="dropdown-item menu-dropdown-item"><a
                                        href="kulhoni-magyarok.html">További
                                        cserkészszövetségek</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header nav-link"><a class="mobile-menu-link5" href="https://cserkeszleszek.hu">Csatlakozz!</a></div>
                </div>
            </div>
        </div>
    </div>
    {# end of mobile menu #}
    <!-- Navbar: Simple Wide-->
    <header class="navbar-wrapper navbar-boxed navbar-sticky">
        <div class="container-fluid">
            <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="index.html"><img
                        class="head-logo my-1" src="img/logo.png" alt="MCSSZ" id="navbar-logo"/></a></div>
            <div class="d-table-cell w-100 align-middle pl-md-3">
                <!-- top menu begin -->
                <div class="navbar-top d-none d-lg-flex justify-content-end">
                    <ul class="list-inline mb-0">
                        <li class="dropdown-toggle mr-2"><a class="navbar-link" href="https://ecset.cserkesz.hu/login"><i
                                    class="fe-icon-user"></i>Bejelentkezés</a>
                            <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">
                                <p class="text-sm opacity-70">Jelentkezz be ECSET-fiókkal</p><a
                                    class="btn btn-primary btn-sm btn-block" href="https://ecset.cserkesz.hu/login">Bejelentkezem</a>
                                <p class="text-sm text-muted mt-3 mb-0">Mi az az ECSET-fiók?<a
                                        href="https://ecset.cserkesz.hu/login"></a></p>
                            </div>
                        </li>
                        <li class="dropdown-toggle"><a class="navbar-link" href="#"><img src="img/flags/hun.png"
                                    alt="Hun">Magyar</a>
                            <div class="dropdown-menu lang-dropdown right-aligned">
                                <a class="dropdown-item" href="#"><img src="img/flags/en.png" alt="English">English</a><a
                                    class="dropdown-item" href="#"><img src="img/flags/de.png" alt="Deutsch">Deutsch</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- top menu end -->
                <!-- bottom menu start -->
                <div class="navbar justify-content-end justify-content-lg-between">
                    <!-- Search-->
                    <form class="search-box" method="get">
                        <input type="text" id="site-search" placeholder="Kereséshez kezdjen el gépelni"><span
                            class="search-close"><i class="fe-icon-x"></i></span>
                    </form>
                    <!-- Main Menu-->
                    <ul class="navbar-nav d-none d-lg-block">
                        <!-- Menüpontok-->
                        <li class="nav-item dropdown-toggle"><a class="nav-link" id="menu-link1" href="#">Magunkról</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="cserkeszmodszer.html">Cserkészmódszer</a></li>
                                <li class="dropdown-item"><a href="mozgalom.html">Mozgalom</a></li>
                                <li class="dropdown-item"><a href="partnereink.html">Partnereink</a></li>
                                <li class="dropdown-item"><a href="toolbox.html">Toolbox</a></li>
                                <li class="dropdown-item" id="cssToggle"><a href="#">Stílus váltása</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-toggle"><a class="nav-link" id="menu-link2" href="#">Szövetség</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="bemutatkozas.html">Bemutatkozás</a></li>
                                <li class="dropdown-item"><a href="dokumentumok.html">Dokumentumok</a></li>
                                <li class="dropdown-item"><a href="elerhetoseg.html">Elérhetőség</a></li>
                                <li class="dropdown-item"><a target="_blank" href="https://gyermekvedelem.cserkesz.hu/">Gyermekvédelem</a></li>
                                <li class="dropdown-item"><a href="kulugy.html">Külügy</a></li>
                                <li class="dropdown-item"><a href="lelki-kozossegek.html">Lelki közösségek</a></li>
                                <li class="dropdown-item"><a href="projektjeink.html">Projektjeink</a></li>
                                <li class="dropdown-item"><a href="szakagak.html">Szakágak</a></li>
                                <li class="dropdown-item"><a href="testuletek.html">Testületek</a></li>
                                <li class="dropdown-item"><a href="tortenelem.html">Történelem</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-toggle"><a class="nav-link" id="menu-link3" href="#">Felfedezés</a>
                            <ul class="dropdown-menu">
                                <!-- <li class="dropdown-item"><a href="csapatok.html">Csapatok</a></li> -->
                                <li class="dropdown-item"><a href="cserkesz-helyek.html">Cserkész helyek</a></li>
                                <li class="dropdown-item"><a href="esemenyek.html">Események</a></li>
                                <li class="dropdown-item"><a href="hirek.html">Hírek</a></li>
                                <li class="dropdown-item"><a href="kiadvanyok.html">Kiadványok</a></li>
                                <li class="dropdown-item"><a href="magazin.html">Magazin</a></li>
                                <li class="dropdown-item"><a href="wiki.html">Wiki</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-toggle"><a class="nav-link" id="menu-link4" href="#">Kapcsolat</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="csapatok.html">Csapatok</a></li>
                                <li class="dropdown-item"><a href="testuletek.html">Cserkészkerületek</a></li>
                                <!-- <li class="dropdown-item"><a href="cserkeszkeruletek.html">Cserkészkerületek</a></li> -->
                                <li class="dropdown-item"><a href="kulhoni-magyarok.html">Külhoni magyarok</a></li>
                                <li class="dropdown-item"><a href="elerhetoseg.html">Országos Iroda</a></li>
                                <!-- <li class="dropdown-item"><a href="orszagos-iroda.html">Országos Iroda</a></li> -->
                                <!-- <li class="dropdown-item"><a href="kulhoni-magyarok.html">További
                                        cserkészszövetségek</a> -->
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" id="menu-link5" href="https://cserkeszleszek.hu">Csatlakozz!</a></li>
                    </ul>
                    <div>
                        <ul class="navbar-buttons d-inline-block align-middle">
                            <li><a href="#" data-toggle="search"><i class="fe-icon-search"></i></a></li>
                            <li class="d-block d-lg-none"><a href="#mobile-menu" data-toggle="offcanvas"><i
                                        class="fe-icon-menu"></i></a></li>
                            <!-- screen-only socicons  -->
                            <li class="screen-only"><a class="sb-facebook" target="_blank" href="https://www.facebook.com/MCSSZ/?ref=br_rs"><i class="socicon-facebook"></i></a>
                            </li>
                            <li class="screen-only"><a class="sb-youtube" target="_blank" href="https://www.youtube.com/channel/UCWZZC9K-Mnk1yzfJM0oIvLw"><i class="socicon-youtube"></i></a></li>
                            <li class="screen-only"><a class="sb-instagram" target="_blank" href="https://www.instagram.com/hungarian_scouts/?hl=hu"><i class="socicon-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- bottom menu end -->
            </div>
        </div>
        </div>
    </header>