{% extends 'base_layout.html' %}

{% block content %}
<h2>{{patrol}} őrs gyűjteménye</h2>
{% for member in members %}
<div class="groups">
    <h3>{{member.nickname}}</h3>
    <div class="row card-row">
    {% for query in collection %}
        {% for pmc in query %}
            {% if member == pmc.nickname %}
            <div class="single-challenge-carddeck">
                <div class="ch-card">
                    <div class="logo"><img src="{{pmc.challenge.thumb.url}}" alt="{{pmc.challenge.name}}"
                    class="single-challenge-thumb status-{{pmc.get_status_display|lower}}">
                </div>
                <h4 class="single-challenge-title">{{pmc.challenge.name}}</h4>
                <p class="single-challenge-desc">{{pmc.challenge.snippet}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}